<!DOCTYPE html>
<html>
  <head>
    <title>Yum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <div class="header">
    <h1> Yum </h1>
    <p> Your Eating Project </p>
    </div> 
  </div>
  


    <%= yield %>

  <div class="footer">
    <br/>
    YUM<br/>
    An Eating Project
  </div>

  </body>
</html>
